{% extends 'readinghub/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
       <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        {% comment %} <span>The Best</span> {% endcomment %}
                        <h3>Welcome to Reading Hub !</h3>
                    </div>
                </div>
            </div>
            <br>
            <br>

        <div class="row">
                
                    <p style="text-align:justify; text-justify:inter-ideograph;">
                    The objective of this application is to organize book events for
book lovers and readers based on the books they recommend on
the platform.The events will give them the opportunity to meet-up with
likeminded fellows, discuss and share their ideas on a particular
recommended book after which they rate the book on the
application.Users will be able to create account, recommend book by giving a
detailed description of the book (type, image etc.), view other
suggested books, join and view events, review and rate books.
The administrator (event planner) will be able to create events at
beautiful scenery based on the list of recommended books on the
platform.
                    </p>
                </div>
            </div>
            <br>
            <br>
            <br><br>

        
 
        
         <section class="teachers-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        {% comment %} <span>The Best</span> {% endcomment %}
                        <h3>All the team members</h3>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{{ MEDIA_URL }}Glory.jpg" width="200" height="300" alt="">
                        </div>
                        <!-- Meta Info -->
                        <br>
                        <div class="teachers-info mt-30">
                            <h5>Asuquo Effiong Glory</h5>
                            <span>2361383E</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{{ MEDIA_URL }}xianyu.jpg" width="200" height="300" alt="">
                        </div>
                        <!-- Meta Info -->
                        <br>
                        <div class="teachers-info mt-30">
                            <h5>Xianyu Zhang</h5>
                            <span>2237786Z</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{{ MEDIA_URL }}wu.jpg" width="200" height="300" alt="">
                        </div>
                        <!-- Meta Info -->
                        <br>
                        <div class="teachers-info mt-30">
                            <h5>Haotian Wu</h5>
                            <span>2371139W</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                           <img src="{{ MEDIA_URL }}xu.jpg" width="200" height="300" alt="">
                        </div>
                        <!-- Meta Info -->
                        <br>
                        <div class="teachers-info mt-30">
                            <h5>Cheng Xu</h5>
                            <span>2415791X</span>
                        </div>
                    </div>
                </div>
            </div>
<br>
           
        </div>
    </section>
 
{% endblock %}