{% extends 'readinghub/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
       <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        {% comment %} <span>The Best</span> {% endcomment %}
                        <h3>Welcome to our hub</h3>
                    </div>
                </div>
            </div>
            <br>
            <br>

        <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <p>Book is the source of our wisdom. If you don't study, your spiritual life will have nothing. Reading can help us understand some profound truths and understand something we didn't know. But reading is not just a casual look. When we read a book, we must first think about why the author is writing this story. Can we help the author to continue editing? Then extract the good words and good sentences from the article into your notebook. Finally, I can read the book a few times and discover something new... Reading is like talking to another person, just like swimming in another ocean with knowledge, how happy it is.</p>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <p>
As the Mai family said, what is the use of reading, only the people who read the book know that people who do not read do not know.
Because you don't study, you may not even recognize yourself. Because of reading, you may recognize everyone in the world, including 500 years ago and 500 years later. 
Buffett's partner, Charlie Munger, once said:

"The smart people I have encountered in all walks of life from all walks of life, not one is not reading every day - no, no one.

And Buffett’s readings may surprise you. He is a book with two legs. ”</p>
                </div>
            </div>
            <br>
            <br>

        
 
        
         <section class="teachers-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        {% comment %} <span>The Best</span> {% endcomment %}
                        <h3>ALL OF THE MEMBERS</h3>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{{ MEDIA_URL }}Glory.jpg" width="200" height="300" alt="">
                        </div>
                        <!-- Meta Info -->
                        <br>
                        <div class="teachers-info mt-30">
                            <h5>Asuquo Effiong Glory</h5>
                            <span>2361383E</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{{ MEDIA_URL }}xianyu.jpg" width="200" height="300" alt="">
                        </div>
                        <!-- Meta Info -->
                        <br>
                        <div class="teachers-info mt-30">
                            <h5>Xianyu Zhang</h5>
                            <span>2237786Z</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <img src="{{ MEDIA_URL }}wu.jpg" width="200" height="300" alt="">
                        </div>
                        <!-- Meta Info -->
                        <br>
                        <div class="teachers-info mt-30">
                            <h5>Haotian Wu</h5>
                            <span>2371139W</span>
                        </div>
                    </div>
                </div>
                <!-- Single Teachers -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                           <img src="{{ MEDIA_URL }}xu.jpg" width="200" height="300" alt="">
                        </div>
                        <!-- Meta Info -->
                        <br>
                        <div class="teachers-info mt-30">
                            <h5>Cheng Xu</h5>
                            <span>2415791X</span>
                        </div>
                    </div>
                </div>
            </div>
<br>
           
        </div>
    </section>
 
{% endblock %}