{% extends 'readinghub/base.html' %}
{% load staticfiles%}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}

        <ul>
        <section class="card-block text-center">
          <div class="container">
            <p class="text text-muted">Click here to recommend a book for your friends.</p>
            <p>
                {% if user.is_authenticated %}

                       <a class="btn btn-outline-primary btn-lg" href="/readinghub/recommend_a_book/" role="button">Recommend a new book</a>

                {% endif %}
            </p>
          </div>
        </section>
        <div class="row">
            {% if books %}

                    {% for book in books %}
                        <div class="col-6 col-md-4 text-center" ><br/>
                            <div class="teachers-thumbnail">
                              <img width="255" height="380" alt="{{book.title}}" src="{{ MEDIA_URL }}{{ book.image }}" data-holder-rendered="true">
                            </div><br/>
                          <a href="{% url 'show_book' book.category.slug book.slug %}">{{ book.title }}</a><br/>
                            <p><h6>Category: {{ book.category }} </h6></p>
                            <p><h6>Like:  <span class="badge badge-pill badge-danger">{{ book.likes }}</span></h6></p>


                            <p><button class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">Description &raquo;</button></p>

                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="text-center"><br/>
                                            <img width="255" height="380" alt="{{book.title}}" src="{{ MEDIA_URL }}{{ book.image }}" data-holder-rendered="true">
                                             <br/><br/>
                                            <a href="{% url 'show_book' book.category.slug book.slug %}"><h5>{{ book.title }}</h5></a>
                                        </div>
                                        <div class="modal-body" style="text-align:justify; text-justify:inter-ideograph;">
                                            {{ book.description }}<br/>

                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button><br/><br/>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                        </div><!-- /.col-lg-4 -->
                    {% endfor %}

            {% else %}
                <strong>There are no books present.</strong>
            {% endif %}
        </div>
        </ul>
        <hr class="featurette-divider">
{% endblock %}


