{% extends 'readinghub/base.html' %}
{% load staticfiles%}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
        <ul>
        <div class="row">
            {% if books %}

                    {% for book in books %}
                        <div class="col-6 col-md-4 text-center" ><br/>
                            <div class="teachers-thumbnail">
                              <img data-src="holder.js/100px280/thumb" alt="{{book.title}}" style="height: 280px; width: 100%; display: block;" src="{{ MEDIA_URL }}lion.jpg" data-holder-rendered="true">
                            </div><br/>
                          <a href="" >{{ book.title }}</a><br/>
                          <p>- {{ book.category }} -</p>
                          <{{ book.likes }}> people like it.
                          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                          <p><a class="btn btn-secondary" href="" role="button">View More &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                    {% endfor %}

            {% else %}
                <strong>There are no books present.</strong>
            {% endif %}
        </div>
        </ul>
        <hr class="featurette-divider">
{% endblock %}