{% extends 'readinghub/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <br/>
    {% if category %}
        <h1>{{ category.name }}

        {% if books %}
            <ul>
            {% for book in books %}
                <img src="{{ MEDIA_URL }}lion.jpg" width="300" height="300" alt="{{book.title}}" />
                <li>{{ book.title }}
                {% if book.likes > 1 %}
                ({{ book.likes }} likes)
                {% elif book.likes == 1 %}
                ({{ book.likes }} like)
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
        <strong>No books currently in category.</strong>
            <br/><br/>
        {% endif %}

            {% if user.is_authenticated %}
                <ul>
                   <a class="btn btn-primary" href="/readinghub/category/{{category.slug}}/recommend_book/" role="button">Recommend a new book</a>
                </ul>
            {% endif %}

    {% else %}
        The specified category does not exist!
    {% endif %}

{% endblock %}