{% extends 'readinghub/base.html' %}
{% load staticfiles %}

{% block title_block %}
Events Page
{% endblock %}

{% block body_block %}

    <section class="card-block text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><strong> Event Gallery </strong></h1><br/>
        <p class="lead text-muted">Hey! Here is all events for you, come and make more friends!</p>
      </div>
    </section>

    <div class="container ">
        {% if events %}
            <ul>
            <div class="row">
                    {% for event in events %}
                        <div class="col-6 col-md-4 text-center" ><br/>
                            <div class="teachers-thumbnail">
                              <img class="rounded-circle" width="255" height="380" alt="{{event.title}}" src="{{ MEDIA_URL }}{{ event.image }}" data-holder-rendered="true">
                            </div><br/>
                            <p><a href="{% url 'show_event' event.slug %}">{{ event.title }}</a></p>

                            <p style="text-align:justify; text-justify:inter-ideograph;">{{ event.description }}</p>
                            <p><h6>Participators:  <span class="badge badge-pill badge-primary">{{ event.participators }}</span></h6></p>
                            <p><h6>Date: {{ event.date }} </h6> </p>
                        </div><!-- /.col-lg-4 -->
                    {% endfor %}
            </div>
            </ul>
        {% else %}
        <strong>No event currently here.</strong>
            <br/><br/>
        {% endif %}
    <div/>


    <div class="map-container">

        <section class="card-block text-center">
          <div class="container">
            <h1 class="jumbotron-heading"><strong> Locations Of Events </strong></h1><br/>
          </div>
        </section>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d60096.53669151715!2d-4.356014386700156!3d55.89406297123573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spopular+places+in+Glasgow!"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>

{% endblock %}