{% extends 'readinghub/base.html' %}
{% load staticfiles%}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}

    <!-- categories Here! -->
    <section class="card-block text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><strong>Categories</strong></h1><br/>
        <p class="lead text-muted">Welcome! Here is the all categories, look through, and recommend your loved books!</p><br/>
      </div>
    </section>

        <ul>
        <div class="row">
            {% if categories %}

                    {% for category in categories %}
                        <div class="col-6 col-md-3 text-center" ><br/>
                            <div class="teachers-thumbnail">
                              <img class="rounded-circle" src="{{ MEDIA_URL }}love.jpg" alt="Generic placeholder image" width="220" height="220">
                            </div><br/><br/>
                            <a href="{% url 'show_category' category.slug %}" class="btn btn-outline-primary" role="button" aria-pressed="true" >{{ category.name }}</a>
                        </div><!-- /.col-lg-4 --><br/>
                    {% endfor %}
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
        </ul>
        <hr class="featurette-divider">

    <!-- Books Here! -->
    <section class="card-block text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><strong>Books</strong></h1><br/>
        <p class="lead text-muted">Welcome! Here is the some of books, click the title of the books to see more details!</p><br/>
      </div>
    </section>

        <ul>
        <div class="row">
            {% if books %}

                    {% for book in books %}
                        <div class="col-6 col-md-4 text-center" ><br/>
                            <div class="teachers-thumbnail">
                              <img width="255" height="380" alt="{{book.title}}" src="{{ MEDIA_URL }}{{ book.image }}" data-holder-rendered="true">
                            </div><br/>
                          <a href="{% url 'show_book' book.category.slug book.slug %}">{{ book.title }}</a><br/>
                            <p><h6>Category: {{ book.category }} </h6></p>
                            <p><h6>Like:  <span class="badge badge-pill badge-danger">{{ book.likes }}</span></h6></p>


                            <p><button class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">Description &raquo;</button></p>

                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="text-center"><br/>
                                            <img width="255" height="380" alt="{{book.title}}" src="{{ MEDIA_URL }}{{ book.image }}" data-holder-rendered="true">
                                             <br/><br/>
                                            <a href="{% url 'show_book' book.category.slug book.slug %}"><h5>{{ book.title }}</h5></a>
                                        </div>
                                        <div class="modal-body" style="text-align:justify; text-justify:inter-ideograph;">
                                            {{ book.description }}<br/>

                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button><br/><br/>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                        </div><!-- /.col-lg-4 -->
                    {% endfor %}

            {% else %}
                <strong>There are no books present.</strong>
            {% endif %}
        </div>
        </ul>
        <hr class="featurette-divider">




{% endblock %}

