{% extends 'readinghub/base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile list
{% endblock %}


{% block body_block %}
    <section class="card-block text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><strong>Best Readers!</strong></h1><br/>
        <p class="lead text-muted">Hey! Just look through, and make friends with any or all of them! Enjoy!</p><br/>
      </div>
    </section>

    <ul>
        <div class="row">
            {% if userprofile_list %}

                    {% for listuser in userprofile_list %}
                        <div class="col-6 col-md-4 text-center" ><br/>
                            <div class="teachers-thumbnail">
                              <img class="rounded-circle" src="{{ MEDIA_URL }}{{ listuser.user.userprofile.picture }}" alt="{{selecteduser.username}}" width="220" height="220">
                            </div><br/>
                          <h2><a href="{% url 'profile' listuser.user.username %}">{{ listuser.user.username }}</a></h2>
                          <p>{{ listuser.user.userprofile.description }}</p>
                        </div><!-- /.col-lg-4 --><br/>
                    {% endfor %}

            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
    </ul>



{% endblock %}

