{% extends 'readinghub/base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile list
{% endblock %}


{% block body_block %}
    <br/>
<font size="4">User Profiles</font>

<div class="panel">
{% if userprofile_list %}
    <div class="panel-heading">

        <div class="panel-body">
            <div class="list-group">
            {% for listuser in userprofile_list %}
            <div class="list-group-item">

                <div style="width: 80px; height: 80px; float:left; border-radius: 50%; border: 2px solid #eee; overflow: hidden;" >
                      <img src="{{ MEDIA_URL }}{{ listuser.user.userprofile.picture }}" width="100" height="100" alt="{{selecteduser.username}}" />
                </div>
                    <div>&nbsp &nbsp &nbsp</div> 
                    <a href="{% url 'profile' listuser.user.username %}">{{ listuser.user.username }}</a>
                    <div>&nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</div> 
               <font color="#397EAC"> <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{listuser.user.userprofile.description}}</p><?font>    
               
            </div>

            {% endfor %}
            </div>
        </div>
    </div>
{% else %}
<p>There are no users for the site.</p>
{% endif %}
</div>
{% endblock %}
