{% extends 'readinghub/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{selecteduser.username}}'s profile
{% endblock %}

{% block body_block %}
<br/><div>{#style="background-image: url({% static 'images/12.png' %});background-size:100% 100%;"#}
    <section class="card-block text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><strong>{{selecteduser.username}}</strong></h1><br/>
          {% if selecteduser.username == user.username %}
        <p class="lead text-muted">Hey! This is your profile, show more about yourself!</p><br/>
          {% else %}
        <p class="lead text-muted">Hey! This is <strong>{{selecteduser.username}}</strong>'s profile, just make a friend!</p><br/>
          {% endif %}
      </div>
    </section>

    <div>
    <img class="rounded mx-auto d-block rounded-circle" src="{{ MEDIA_URL }}{{userprofile.picture }}" width="300" height="300" alt="{{selecteduser.username}}" />
    <br/>

    <section class="card-block text-center">
    <div class="align-self-center">
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" value="Update" class="btn btn-outline-primary">Update</button>
            </form>
        {% else %}
           <p><strong>Description:</strong> {{userprofile.description}}</p>
        {% endif %}
    </div>
    </section>
    </div>
</div>

    <hr class="featurette-divider">

    <section class="card-block text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><strong>Recommended Book:</strong></h1><br/>
      </div>
    </section>


    <ul>

        <div class="row text-center">
            {% if userbooks %}

                    {% for book in userbooks %}
                        <div class="col-6 col-md-4 text-center" ><br/>
                            <div class="teachers-thumbnail">
                              <img width="255" height="380" alt="{{book.title}}" src="{{ MEDIA_URL }}{{ book.image }}" data-holder-rendered="true">
                            </div><br/>
                          <a href="{% url 'show_book' book.category.slug book.slug %}">{{ book.title }}</a><br/>
                            <p><h6>Category: <a href="{% url 'show_category' book.category.slug %}" aria-pressed="true" >{{ book.category.name }}</a> </h6></p>
                            <p><h6>Like:  <span class="badge badge-pill badge-danger">{{ book.likes }}</span></h6></p>

                        </div><!-- /.col-lg-4 -->
                    {% endfor %}
                    {% else %}

                        **** Didn't recommended any book yet. ****

                    {% endif %}

        </div>

        </ul>

<hr class="featurette-divider">

<div id="edit_profile"></div>

{% endblock %}