{% extends "readinghub/base.html" %}
{% block title_block %}Recommend book{% endblock %}
{% block body_block %}
    {% if category %}

            <br />
        <section class="card-block text-center">
          <div class="container">
            <h1 class="jumbotron-heading"><strong> Recommend a new book to </strong><a href="/readinghub/category/{{category.slug}}/">{{ category.name }}</a></h1>
            <br/>

          </div>
        </section>
        <form role="form" id="book_form" method="post" action="/readinghub/category/{{category.slug}}/recommend_book/"  enctype="multipart/form-data">
        <div class="'container text-center">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    <div class="form-group">
                    <label >{{ field.help_text }}</label><br/>
                        {{ field }}
                    </p>
                    </div>

                {% endfor %}
                <br/>
                <button class="btn btn-primary" type="submit" name="submit">
                Submit
                </button>

        </div>
        </form>

    {% else %}
        <p>This is category does not exist.</p>
    {% endif %}
{% endblock %}
