{% extends "readinghub/base.html" %}
{% block title_block %}Recommend a book{% endblock %}
{% block body_block %}

        <ul>
        <section class="card-block text-center">
          <div class="container">
            <h1 class="jumbotron-heading"><strong> Recommend a new book</strong></h1>
            <br/>
          </div>
        </section>

        <form role="form" id="book_form" method="post"   enctype="multipart/form-data">
        <div class="'container ">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                            <div class="col-sm-5">
                            <label class="col-form-label">{{ field.help_text }}</label><br/>
                            {{ field }}
                            </div>
                    </div>

                {% endfor %}
                <br/>
                <div class="text-center">
                <button class="btn btn-primary " type="submit" name="submit">
                Submit
                </button>
                </div>

        </div>
        </form>
        </ul>

{% endblock %}
