{% extends 'readinghub/base.html' %}
{% load staticfiles %}
{% block title_block %}
{{ book.title }}
{% endblock %}

{% block body_block %}
    <section class="card-block text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><strong>{{ book.title }}</strong></h1><br/>
        <p class="lead text-muted">Welcome! There is the details of the book! Click to show your like!</p><br/>
      </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s"> <img src="{{ MEDIA_URL }}{{ book.image }}" width="300" height="400" alt=""> </div>
            </div>
            <div class="col-8">
                <section id="about" class="section-padding">
                      <div class="container">
                        <div class="row">

                          <div class="col">
                              <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">

                                  <p><strong>Description:</strong></p>
                              <p style="text-align:justify; text-justify:inter-ideograph;">{{ book.description }}</p>

                                <p class="admin-profile">
                                    <span class="pro-title"> <strong>Author:&nbsp;&nbsp; </strong></span> <span class="pro-detail">{{ book.author }}</span>
                                </p>
                                  <p class="admin-profile">
                                      <span class="pro-title"> <strong>URL：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> <span class="pro-detail"><a href = "{{ book.url }}">{{ book.title }}</a></span>
                                  </p>
                                  <p class="admin-profile">
                                  <span class="pro-title"><strong>Like：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> </span> <span id="like_count" class="badge badge-danger">{{ book.likes }}</span>
                                  </p>
                              </div>

                              <div>
                                {% if user.is_authenticated %}
                                    <span><br/><button id="likes" data-boookid="{{book.id}}" class="btn btn-danger" type="button">Like it!</button></span>
                                {% else %}
                                    <span class="text-danger font-italic"><br/>* * * Log in to like * * *</span>
                              {% endif %}
                              </div>

                            </div>
                          </div>
                        </div>

                    </section>



            </div>
        </div>
    </div>


    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>
{% endblock %}