{% extends 'readinghub/base.html' %}
{% load static %}
{% block title_block %}
{{ events.title }}
{% endblock %}

{% block body_block %}
<section class="card-block text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><strong>{{events.title}}</strong></h1><br/>
        <p class="lead text-muted">Welcome! There is the details of Events! Click to join!</p><br/>
    </div>
</section>


    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s"> <img src="{{ MEDIA_URL }}{{ events.image }}" width="300" height="400" alt=""> </div>
            </div>
            <div class="col-8">
                <section id="about" class="section-padding">
                <div class="container">
                    <div class="row">

                            <div>
                                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">

                                    <p><strong>Description:</strong></p>
                                    <p style="text-align:justify; text-justify:inter-ideograph;">{{ events.description }}</p>

                                    <p class="admin-profile">
                                        <span class="pro-title"> <strong>Book:&nbsp;&nbsp;&nbsp; &nbsp;  </strong></span> <span
                                            class="pro-detail">{{ events.book.title }}</span>

                                    <p class="admin-profile">
                                        <span class="pro-title"> <strong>Venue:&nbsp;&nbsp;&nbsp; </strong></span> <span
                                            class="pro-detail">{{ events.venue }}</span>
                                    </p>
                                    <p class="admin-profile">
                                        <span class="pro-title"> <strong>Date：&nbsp;&nbsp;&nbsp;</strong></span>
                                        <span class="pro-detail">{{ events.date }}</span>
                                    </p>
                                    <p class="admin-profile">
                                        <span class="pro-title"> <strong>Time：&nbsp;&nbsp;&nbsp;</strong></span>
                                        <span class="pro-detail">{{ events.time }}</span>
                                    </p>
                                    <p class="admin-profile">
                                        <span class="pro-title"><strong>Participators：</strong> </span>
                                        <span id="participators_count" class="badge badge-primary">{{ events.participators }}</span>
                                    </p>
                                </div>


                                    {% if user.is_authenticated %}

                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" id="joins" data-evventid="{{events.id}}"> Join it!</button></span>
                                    {% else %}
                                        <span class="text-danger font-italic"><br/>* * * Log in to join * * *</span>
                                    {% endif %}
                            </div>
                    </div>
                </div>
                </section>
            </div>
    </div>
</div>





<!-- Go to Top Link -->
<a href="#" class="back-to-top">
    <i class="icon-arrow-up"></i>
</a>
{% endblock %}